:root {
  /* Primary */
  --z-green-500: hsl(158, 36%, 37%);
  --z-green-700: hsl(158, 42%, 18%);

  /* Neutral */
  --z-black: hsl(212, 21%, 14%);
  --z-grey: hsl(228, 12%, 48%);
  --z-cream: hsl(30, 38%, 92%);
  --z-white: hsl(0, 0%, 100%);
}

/* Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* FONT CLASS */

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fraunces-700 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

/* Let start */

body {
  background-color: var(--z-cream);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
}

.card {
  width: calc(100vw - 25px);
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--z-white);

  display: flex;
  flex-direction: column;

  margin-top: 44px;
}

.product-image {
  min-width: 100%;
}

.product-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.product-detail {
  padding: 27px 32px 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-category {
  text-transform: uppercase;
  color: var(--z-grey);
  letter-spacing: 5px;

  font-size: 12px;
}

.product-name {
  font-size: 32px;
  line-height: 1;
}
.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.product-description {
  color: var(--z-grey);
  line-height: 1.6;
}

.card-header,
.card-footer {
  display: flex;
  flex-direction: column;
}

.card-header {
  min-height: 200px;
  gap: 24px;
}

.card-footer {
  gap: 20px;
}

.current-price {
  color: var(--z-green-500);
  font-size: 32px;
}

.previous-price {
  color: var(--z-grey);
  text-decoration: line-through;

  font-size: 13px;
}

.cart-button {
  width: 100%;
  background-color: var(--z-green-500);
  color: var(--z-white);
  letter-spacing: 0.5px;

  border-width: 0;
  border-radius: 8px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cart-button:hover {
  background-color: var(--z-green-700);

  cursor: pointer;
}

@media screen and (min-width: 376px) {
  .card {
    margin-top: 0;
    flex-direction: row;
    max-width: 600px;
    flex: 1;
    height: 450px;
  }

  .product-image {
    min-width: calc(50% - 300px);

    position: relative;
  }

  .product-image img {
    filter: brightness(90%) contrast(120%) saturate(130%);
  }

  .product-detail {
    max-width: calc(600px - 300px);

    justify-content: space-between;
    margin-top: 4px;
  }

  .card-header {
    gap: 22px;
  }

  .product-description {
    line-height: 1.7;
  }

  .card-footer {
    gap: 26px;
  }

  .product-price {
    gap: 18px;
  }

  .cart-button {
    height: 48px;
  }
}
