@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --z-white: hsl(0, 0%, 100%);
  --z-slate-300: hsl(212, 45%, 89%);
  --z-slate-500: hsl(216, 15%, 48%);
  --z-slate-900: hsl(218, 44%, 22%);

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;

  text-align: center;

  background-color: var(--z-slate-300);
}

.container {
  display: flex;
  height: 100%;
}

.card {
  margin: auto;

  border-radius: 20px;
  padding: 16px;

  width: 288px;

  background-color: var(--z-white);

  /* box-shadow: rgba(149, 157, 165, 0.2) 1px 18px 30px; */
  box-shadow: 1px 12px 20px 2px rgba(149, 157, 165, 0.2);
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 22px;
  font-weight: 700;

  width: 288px;

  text-overflow: ellipsis;
  overflow: hidden;

  margin-block: 20px 15px;

  line-height: 26px;

  color: var(--z-slate-900);
}

p {
  margin-inline: auto;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 15.5px;

  text-overflow: ellipsis;
  overflow: hidden;

  width: 250px;

  line-height: 21px;

  color: var(--z-slate-500);
}

@media (min-width: 376px) {

  .card {
    margin-top: 230px;
    width: 288px;
    padding: 16px;
    border-radius: 20px;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
  }

  h1 {
    margin-inline: auto;

    /* width: 360px; */
    font-weight: 700;    
    font-size: 22px;
  }
  
  p {
    margin-inline: auto;
    margin-top: 15.5px;
    font-size: 15.4px;
    width: 260px;
  }
}