@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* rentang weight yang didukung */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-primary: #AD28EB;
  --color-white: hsl(0, 100%, 100%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-950: hsl(292, 42%, 14%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: var(--color-purple-100);

  font-family: "Work Sans", sans-serif;
}

.background-top {
  height: 230px;
}

.background-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  border-radius: 8px;
  margin-inline: 24px;
  /* max-width: 300px; */
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 18px;

  background-color: var(--color-white);
  box-shadow: 0px 0px 50px -25px var(--color-purple-600);
}

.head {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 25px;
}

.title {
  font-weight: 700;
  color: var(--color-purple-950);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

details {
  /* padding-bottom: 20px; */
}

details summary {
  margin-bottom: 20px;
}

details p {
  font-size: 14px;
}

.body > *:not(:last-child) {
  border-bottom: 1px solid var(--color-purple-100);
}

details summary {
  cursor: pointer;
  font-weight: 600;
  color: var(--color-purple-950);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

details summary:hover {
  color: var(--color-primary);
}

details p {
  font-weight: 400;
  color: var(--color-purple-600);
  line-height: 20px;
}

details .toggle .open {
  display: unset;
}

details .toggle .close {
  display: none;
}

details:open .toggle .open {
  display: none;
}

details:open .toggle .close {
  display: unset;
}

@media screen and (min-width: 700px) {
  .background-top {
    height: 320px;
  }

  .layer {
    width: 100%;
  }
  .content {
    max-width: 600px;
    padding: 50px 40px;
  }

  .icon img {
    width: 42px;
  }

  .title {
    font-size: 28px;
  }

  details summary {
    font-size: 18px;
  }

  details p {
    font-size: 16px;
  }
}
